/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

h1 {
	font-family: Anton;
}
h3 {
	font-family: Anton;
}

body {
	font-family: Special Elite;
}